* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.App {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("/resources/Home.png");
  background-size: cover;
}

.title--link {
  text-decoration: none;
}

.gallery__btn {
  position: absolute;
  background: none;
  border: none;
  background-image: url("/resources/arrow.svg");
  background-size: cover;
  width: 30px;
  height: 55px;
  left: 8vw;
}

.gallery__btn--right {
  left: 90vw;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes moveUp {
  from {
    top: 48%;
  }
  to {
    top: 50px;
  }
}

@keyframes moveUp {
  from {
    top: 48%;
  }
  to {
    top: 50px;
  }
}

.container {
  position: relative;
  padding-top: 140px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/resources/stars.png");
  background-size: cover;
}

.container--home {
  color: white;
}

.container--noStars {
  background-image: none;
}

.title {
  position: absolute;
  font-size: 4.4vw;
  font-weight: 300;
  letter-spacing: 0.73em;
  margin-left: 0.35em;
  z-index: 2;
  top: 50px;
  color: white;
}

.title--animation {
  -webkit-animation: moveUp 1s ease-out .2s 1 normal both;
          animation: moveUp 1s ease-out .2s 1 normal both;
}

.link {
  width: 30%;
  height: 60px;
  background-color: white;
  color: #040917;
  text-align: center;
  line-height: 60px;
  margin: 20px 0;
  border-radius: 30px;
  letter-spacing: 0.21em;
  text-decoration: none;
  font-size: 18px;
  -webkit-animation: fadeIn .6s ease-out 1.2s 1 normal both;
          animation: fadeIn .6s ease-out 1.2s 1 normal both;
}

.link:hover {
  background-color: #E5E5E5;
}

.link--dark {
  color: white;
  background-color: #040917;
  -webkit-box-shadow: 0px -10px 17px rgba(255, 255, 255, 0.1), 5px 7px 28px rgba(0, 0, 0, 0.63);
          box-shadow: 0px -10px 17px rgba(255, 255, 255, 0.1), 5px 7px 28px rgba(0, 0, 0, 0.63);
}

.link--dark:hover {
  background-color: #060E24;
}

.planet {
  position: absolute;
  background: #040917;
  top: 200px;
  width: 20vw;
  height: 20vw;
  -webkit-box-shadow: 0px -130px 105px rgba(255, 255, 255, 0.25);
          box-shadow: 0px -130px 105px rgba(255, 255, 255, 0.25);
  border-radius: 10vw;
}

.sun {
  position: absolute;
  top: 160px;
  width: 5vw;
  height: 5vw;
  border-radius: 2.5vw;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 250px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 250px rgba(255, 255, 255, 0.25);
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.creator {
  background-color: white;
  width: 30%;
  letter-spacing: 0.3em;
}

.creator h3 {
  font-weight: 300;
  font-size: 14px;
}

.creator__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.creator__nav a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #272727;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

.creator__nav a:hover {
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
}

.creator__nav--selected {
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.21);
}

.creator__step {
  color: #272727;
}

.fallingStars {
  position: absolute;
  height: 100%;
  width: 77%;
  -webkit-animation: slide 60s linear infinite;
          animation: slide 60s linear infinite;
  background-image: url("/resources/starRain.png");
  background-size: auto;
  background-repeat: repeat-y;
}

@-webkit-keyframes slide {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 4118px;
  }
}

@keyframes slide {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 4118px;
  }
}

.creator__step {
  padding: 14px;
}

.creator__btn {
  -webkit-box-shadow: inset -2px 2px 12px rgba(0, 0, 0, 0.18);
          box-shadow: inset -2px 2px 12px rgba(0, 0, 0, 0.18);
  width: 132px;
  height: 132px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 10px;
}

.creator__btn:hover {
  background-color: #d9d9d9;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
}

.creator__btn img {
  width: 100%;
  height: 100%;
}

.creator__btn--selected {
  background-color: #d1d1d1;
}

.creator__buttonsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.MuiSwitch-colorSecondary.Mui-checked {
  color: #2b478a !important;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: #2b478a !important;
}

.creator__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.creator__option {
  margin: 15px 0;
}

.twitter-picker {
  margin: 5px 0;
}

.creator__end {
  text-decoration: none;
  margin: 0 auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
}

.creator__end .MuiButton-contained {
  height: 45px;
}

.creator__end .MuiButton-contained .MuiButton-label {
  letter-spacing: .3em;
}

.creator__textInput {
  position: relative;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  margin-top: 15px;
}

.creator__textInput--focused {
  margin-top: 40px;
}

.creator__textInput--focused label {
  -webkit-transform: translate(0, -25px) !important;
          transform: translate(0, -25px) !important;
  color: #272727 !important;
}

.creator__textInput label {
  position: absolute;
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
  color: #A8A8A8;
  font-size: 14px;
}

.creator__textInput input {
  width: 100%;
  height: 45px;
  padding: 15px;
  -webkit-box-shadow: inset -2px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: inset -2px 2px 8px rgba(0, 0, 0, 0.15);
  border: none;
}

.creator__textInput input:focus {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.ship {
  position: relative;
  top: -50px;
}

.ship__details {
  position: absolute;
  bottom: 0;
}

.ship__name {
  position: absolute;
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  color: #272727;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  text-align: center;
  font-size: 14px;
}

.ship__name--ship1 {
  -webkit-transform: rotate3d(0, 0.3, 1, 90deg);
          transform: rotate3d(0, 0.3, 1, 90deg);
  top: 185px;
  left: 100px;
}

.ship__name--ship2 {
  top: 285px;
  left: 20px;
}

.ship__name--ship3 {
  -webkit-transform: rotate3d(0, 0.3, 1, 90deg);
          transform: rotate3d(0, 0.3, 1, 90deg);
  top: 140px;
  left: 105px;
}

.ship__name--ship4 {
  -webkit-transform: rotate3d(0, 0.3, 1, 55deg);
          transform: rotate3d(0, 0.3, 1, 55deg);
  top: 185px;
  left: 65px;
}
/*# sourceMappingURL=main.css.map */